html {
	font-family:Verdana;
}

.main_nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.button {
	width: 200px;
	height: 50px;
	margin: 5px;
	background-color:#837EB1;
	text-decoration:none;
	border:none;
	border-radius: 12px;
	transition: all 1s;
}

.button:hover {
	background-color:grey;
	transform:scale(1.1);
}

.button_link {
	text-decoration:none;
}

.button_link:visited {
	color:#DAD8EA;
}

.button_link:link {
	color:#DAD8EA;
}



